header {
  width: 100vw;
  height: 100px;
  position: fixed;
  z-index: 2;
  top: 0;
  background-color: #f6efe7;
  text-align: center;
}
footer {
  background-color: #f6efe7;
}
body {
  padding-top: 100px;
}
h4 {
  font-weight: 700;
}
img {
  height: 90px;
}
.footer-text {
  height: 50px;
}
.link {
  margin: 10px;
}
.content {
  height: calc(100vh - 300px);
}
.answer {
  margin-top: 20px;
}
.title-text {
  color: #F0831E;
}
/*inquiry form*/
.inline {
  display: inline;
}
.flex{
  display: flex;
}
.center{
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}
.wrapper{
  max-width: 1000px;
  margin: 0 auto;
}
form {
  width: 95%;
  margin: 0 auto;
}
form > .flex{
  padding-top: 20px;
}
label {
  width: 18%;
  padding-right: 20px;
}
input {
  height: 40px;
  line-height: 40px;
  width: 200px;
  font-size: 1.4rem;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 3px #d3d3d3;
}
.btn {
  height: 50px;
  line-height: 50px;
  width: 200px;
  background-color: #F0831E;
  border: none;
  border-radius: 25px;
  color: #fff !important;
  font-size: 1.8rem;
  letter-spacing: 5px;
  margin: 30px;
}
textarea {
  height: 100px;
  width: 600px;
  border: 1px solid #ddd;
  box-shadow: 0px 0px 3px #d3d3d3;
  font-size: 1.4rem;
}
.btn_contact{
  padding-top: 30px;
}